:root {
    --primary: #EB6C27;
    --text: #3a3a3a;
    --text-grey: #888888;
    --hover-primary: #c2581e;
    
    --grad: linear-gradient(90deg, #EB6C27 0%, #FFBE9A 100%);

}
/* navbar */

.navbar {
    position: relative;
    z-index: 99;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    height: 70px;
}

.navbar__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
    margin-left: 24px;
}


.navbar__logo img {
    height: 100%;
    transition: all .2s ease;
}

.navbar__hamburger{
    width: 44px;
    height: 49px;
    position: relative;
    cursor: pointer;
    
    outline: none;
    border: none;
    background: none;
    margin-right: 24px;
}

.navbar__hamburger-title {
    position: absolute;
    font-size: 15px;
    line-height: 11px;
    color: var(--text-grey);
}

.navbar__hamburger-floor{
    position: absolute;
    background: var(--grad);
    
    width: 100%;
    height: 8px;
}
.navbar__hamburger span:nth-child(1){
    top: 0;
    left: 0;
}
.navbar__hamburger span:nth-child(2){
    top: 13px;
    left: 0;
}
.navbar__hamburger span:nth-child(3){
    top: 27px;
    left: 0;
}

.navbar__hamburger span:nth-child(4){
    bottom: 0;
    left: 0;
}

.navbar__hamburger.open span:nth-child(1){
    transform: scale(0);
    transition-duration: 50ms
}

.navbar__hamburger.open span:nth-child(2){
    transform: rotate(45deg);
    top: 13px;
}
.navbar__hamburger.open span:nth-child(3){
    transform: scale(0);
    transition-duration: 50ms
}
.navbar__hamburger.open span:nth-child(4){
    top: 13px;
    transform: rotate(-45deg);
}

.navbar__hamburger.open {
    height: 34px;
}

.navbar__menu {
    position: absolute;
    height: 0;
    top: 100px;
    opacity: 0;
    background-color: var(--primary);
    padding: 0;
    margin: 0;
    width: calc(100% - 32px);
    left: 16px;
    display: none;
}

.navbar__menu::before {
    content: "";
    width: 0;
    height: 0;
    top: -30px;
    position: absolute;
    border-bottom: 15px solid var(--primary);
    border-top: 15px solid transparent;
    border-right: 15px solid transparent;
    border-left: 15px solid transparent;
    right: 0;
}

.navbar__button {
    justify-content: center;
    align-items: center;
    height: 100%;
}

.navbar__menu.open .navbar__button {
    display: block;
}

.navbar__menu.open {
    transition: all .2s ease;
    display: block;
    opacity: 1;
    height: fit-content;
    width: 90%;
    left: 5%;
}


.navbar__link {
    display: block;
    color: white;
    padding: 1em;
    text-align: start;
    font-size: 1.25rem;
    font-weight: 500;
    transition: var(--transition);
    touch-action: none;
}


/* Home */

.welcome {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.welcome-hero {
    background-blend-mode: normal, normal, hue, normal;
    height: 100vh;
    object-fit: cover;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(0deg, rgba(36, 36, 36, 0.4), rgba(36, 36, 36, 0.4)), linear-gradient(180deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(180deg, #42332A 0%, rgba(255, 255, 255, 0) 100%), url("../media/pageheader-1920w.jpg") no-repeat fixed center;
    background-size: cover;
    flex-direction: column;
}

.home-welcome-text > * {
    color: white;
    letter-spacing: -0.05em;
    padding: 0;
    margin: 0;
    text-align: center;
}

.home-welcome-text__heading {
    font-weight: 700;
    font-size: max(7vw, 2em);
    margin-bottom: 2vh;
}

.home-welcome-text__slogan {
    font-weight: 200;
    font-size: max(3vw, 1em);
}

.welcome-hero > * {
    background-attachment: fixed;
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
}
.welcome-hero {
    width: 100%;
    height: 15em;
    background-size: 200%;
    background-position: center;
    background-image: url(../img/pageheader-1920w.jpg);
    display: flex;
    justify-content: end;
    flex-direction: column;
    text-align: center;
    color: #ffffff;
    background-repeat: no-repeat;
}
.home-welcome-text__slogan{
    padding-bottom: 1em;
}
.color{
    color: var(--primary);
}
.page__service_img {
    width: 100%;
    height: 10em;
    object-fit: cover;
    
}
.right{
    border-radius: 0px 0px 40px 0px;
}
.left{
    border-radius: 0px 0px 0px 40px;
}
.page__service_text{
    margin-top: 1em;
}
.page__cta{
    color: var(--primary);
    border: var(--primary) 1px dashed;
    padding: .5em 1em;
}
.page__banner {
    background-image: url(../img/background-CTAblock-4460w.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 10em;
}
.page__banner_text{
    color: #ffffff;
}
a{
    text-decoration: none;
}
.page__cta--filled{
    background-color: var(--primary);
    color: #ffffff;
}
.page__banner{
    position: relative;
}
.page__banner_container{
    position: absolute;
    top: 1em;
    left: 1em;
}
.page__service{
    padding-bottom: 1em;
}
.page__reference_img {
    width: 100%;
    height: 12.5em;
    display: block;
    position: relative;
    object-fit: cover;
}
.page__reference_text_cont{
    color:var(--text);
    text-align: center;
    padding-top: .2em;
}
.page{
    padding: 0;
    margin: 0;
}
.page__footer{
    background-color: var(--primary);
    text-align: center;
    padding-bottom: 2em;
    color: #ffffff;
    height: 10em;
}
.page__footer_header{
    padding-top: 1em;
}
.page__footer_text{
    padding-bottom: 1em;
}
.page__cta--white{
    background-color: #ffffff;
    border: none;
    padding: .75em .75em;
    
}
.page__main{
    padding: 0 .5em;
}

.page__main_s{
    padding: 0 1em;
}
.page__list{
    list-style: none;
   
    padding-left:0;
}
.page__list_item::before{
    display: inline-block;
    content: '';
    -webkit-border-radius: 0.375rem;
    border-radius: 0.375rem;
    height: 0.5rem;
    width: 0.5rem;
    margin-right: 0.5rem;
    background-color: var(--primary);
}
.page__list_item--2{
    padding-left: 2em;
}
.page__form{
    display: flex;
    flex-direction: column;
}
.page__form_label{
padding-top: .5em;
}
.page__form_input{
    border: var(--primary) 1px solid;
    height: 2em;
}
.page__form_tarea{
    border: var(--primary) 1px solid;
}
.page__form_select{
    border: var(--primary) 1px solid;
}
.page__contacts_map{
    display: block;
    height: auto;
    width: 100%;
    
}


@media (min-width: 768px){
    .welcome-hero{
        height: 28em;
    }
    .page__reference_img{
        height:17em;
    }
    .page__service_img{
        height:15em;
    }
    .page__banner{
        height:15em;
        top:20px;
    }
    .page__banner_container{
        padding-top: 4em;
    }
}
@media (min-width: 1024px){
    .welcome-hero{
        height: 60em;
    }
      .navbar__hamburger {
        display: none;
    }

    .navbar__logo {
        margin-left: 1em;
        height: calc(100% - 2em);
    }

    .navbar__menu, .navbar__menu.open {
        opacity: 1;
        position: static;
        display: flex;
        align-items: center;
        padding: 0;
        left: unset;
        width: fit-content;
        height: 100%;
        top: unset;
        transition: 0s;
        background-color: white;
    }

    .navbar__button {
        display: flex;
    }

    .navbar__link {
        text-decoration: none;
        font-size: 1.2em;
        position: relative;
        color: var(--text-grey);
        padding: 0 1em 0 1em;
    }

    .navbar__menu.open {
        display: flex;
    }

    .navbar__button--activate, .navbar__button:hover {
        background-color: var(--primary);
    }

    .navbar__menu::before {
        display: none;
    }

    .navbar__button--activate > .navbar__link, .navbar__button:hover > .navbar__link {
        color: white;
    }
   
    .page__services{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 20px;
        grid-auto-flow: dense;
        justify-content: center;
        align-content: center;
    }
    
    .left{

        grid-column-start: 1;
    }
    .right{

        grid-column-start: -2;
    }

    .page__service-right{
        grid-column: -2 / span 1;
    }
    .page__about_header{
        grid-column:1 / span 2;
    }
    .page__about_text{
        grid-column:1 / span 2;
    }
    
    .page__reference_img{
        height:17em;
    }
    .page__service_img{
        height:15em;
    }
    .page__banner{
        height:25em;
        top:20px;
    }
    .page__banner_container{
        padding-top: 4em;
    }
    .page__reference_container{
        display: grid;
        grid-template-columns: 1fr;
        justify-content: center;
        align-content: center;
        grid-column: 1 / span 2;
        width: 70%;
        margin:0 auto;
    }
    .page__reference_img{
        height:20em;
    }
}
